{{define "base"}}
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>

  <script src="/assets/js/jquery-2.2.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/jquery-2.2.0.min.js"><\/script>')</script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/highcharts.js"></script>

  <script>
  $("#search").keyup(function(){
    _this = this;
    // Show only matching TR, hide rest of them
    $.each($("#table tbody").find("tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
       $(this).hide();
    else
         $(this).show();
       });
  });
  </script>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">C Co 638</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <input type="text" id="search" class="nav-bar navbar-right" placeholder="Search...">
            </div>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-1 sidebar">
              <ul class="nav nav-sidebar">
                <li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/soldiers">Soldiers</a></li>
                <li><a href="/slideshow">Slideshow</a></li>
                <li><a href="/import">Import Data</a></li>
              </ul>
            </div>
            {{template "content" .}}
          </div>
        </div>
  </body>
</html>
{{end}}

<!-- https://getbootstrap.com/examples/dashboard/ -->
