{{define "content"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
  <h1 class="page-header">Dashboard</h1>

  <div id="apftContainer" class="col-xs-6" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto">
  </div>

  <div id="ssdContainer" class="col-xs-6" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto">
  </div>

  {{range $soldier := .Soldiers}}
  <div class="floated_img" style="float:left;padding-left:10" >
    <a href="/soldiers/{{$soldier.ID.Hex}}"><img src="{{$soldier.Image}}" height="200" alt="Soldier image"></a>
    <p align="center" style="font-size:16">{{$soldier.Rank}} {{$soldier.LastName}}, {{$soldier.FirstName}}</p>
    <p align="center" style="font-size:16">{{$soldier.MOS}}</p>
  </div>
  {{end}}

</div>

<script>
$(function () {
    $(document).ready(function () {

        // Build the chart
        $('#apftContainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'C Co APFT Data'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'APFT Data',
                colorByPoint: true,
                data: [{
                    name: 'APFT Pass Percent',
                    y: {{.APFTData.PercentPassed}},
                    sliced: true,
                    selected: true,
                    color: 'green'
                }, {
                    name: 'APFT Fail Percent',
                    y: {{.APFTData.PercentFail}},
                    color: 'red'
                }, {
                    name: 'APFT Untaken',
                    y: {{.APFTData.PercentNotTaken}},
                    color: 'orange'
                }]
            }]
        });
    });
});

$(function () {
    $(document).ready(function () {

        // Build the chart
        $('#ssdContainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'C Co SSD Data'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'SSD Data',
                colorByPoint: true,
                data: [{
                    name: 'SSD Complete Percent',
                    y: {{.SSDData.PercentFinished}},
                    sliced: true,
                    selected: true,
                    color: 'green'
                }, {
                    name: 'SSD Incomplete Percent',
                    y: {{.SSDData.PercentUnfinished}},
                    color: 'red'
                }]
            }]
        });
    });
});
</script>

{{end}}
