{{define "content"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">{{.Soldier.Rank}} {{.Soldier.LastName}}, {{.Soldier.FirstName}}</h2>
  <div>
    <a href="/soldiers/{{.Soldier.ID.Hex}}/edit">Update</a>
  </div>

  <div>
    <img src="{{.Soldier.Image}}" width="300" class="img-responsive" alt="Soldier image" style="float:left">
    <div class="table-responsive" style="padding-left:50">
      <table id="table" class="table table-bordered" style="width:30%">
        <tbody>
          <tr>
            <th class="col-sm-2">MOS</th>
            <td class="col-sm-1" align="center">{{.Soldier.MOS}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">Section</th>
            <td class="col-sm-1" align="center">{{.Soldier.Section}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">Civilian Employment</th>
            <td class="col-sm-1" align="center">{{.Soldier.CivilianEmployment}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">ETS Date</th>
            <td class="col-sm-1" align="center">{{.Soldier.ETSDate}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">OER/NCOER Date</th>
            <td class="col-sm-1" align="center">{{.Soldier.NCOERDate}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">APFT Score</th>
            <td id="apftRow" class="col-sm-1" align="center">{{.Soldier.APFTScore}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th class="col-sm-2">SSD</th>
            <td class="col-sm-1" align="center">{{.Soldier.SSD}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>
  var apftRow = document.getElementById("apftRow")
  if ({{.Soldier.APFTPass}}) {
    apftRow.style.backgroundColor = "green";
  } else {
    apftRow.style.backgroundColor = "red";
  }
</script>
{{end}}
